/* ROOT COLORS & FONTS */
:root {
    --bg: #F2F2F2;
    --black: #000D20;
    --dark-grey: #345959;
    --light-grey: #517C8C;
    --light-blue: #B4CBD9;
    --red-bookmark: rgba(245, 102, 102, 0.6);
    --dark-red: rgba(238, 24, 24, 0.8);
    --font-main: 'Srisakdi', cursive;
    --font-body: 'Titillium Web', sans-serif;
    --app-height: 100%;
}


/* DEFAULT SETTINGS */
*, *:after, *:before {
    box-sizing: border-box;
}

html {
    -webkit-tap-highlight-color: transparent;
    background-repeat: no-repeat;
}

body {
    background: var(--bg);
    margin: 0;
    padding: 0;
    font-family: var(--font-body);
    color: var(--black);
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background-repeat: no-repeat;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

input {
    border-radius: 0%;
}

div {
    outline-style: none;
}

/* WRAPPER */
.wrapper {
    display: flex;
    flex-direction: column;
}


/* HEADER */
.navBar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: var(--light-grey);
    box-shadow: 0.1px 1px 10px black;
    text-shadow: 0.1px 0 10px rgba(0,0,0,0.6);
    z-index:10001;
    font-family: var(--font-main);
    color: var(--black);
}

.navBar i {
    margin: 0.2em;
    font-size: 1.4em;
    padding-top: 0.4em;
    color: var(--light-blue);
}

.navBar h1 {
    font-size: 3em;
}

.navBar span {
    color: var(--light-blue);
    font-size: 1em;
}

/* LISTS MENU */
.listMenu {
    box-shadow: 0.1px 0.1px 5px black;
    margin: 0;
    padding: 0;
    background: var(--light-blue);
    display: grid;
    grid-template-columns: auto 1fr;
}

.listMenu .addListSign {
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 4px solid rgba(0,0,0,0.3);
    font-size: 1.2em;
    padding: 0 0.5em;
    padding-top: 0.4em;
    padding-bottom: 0.2em;
    color: var(--light-grey);
    cursor: crosshair;
    transition: all 0.5s ease;
}

.listMenu .addListSign:hover {
    background: rgba(150, 94, 182, 0.3);
    color: black;
    font-weight: 900;
}

select {
    display: none;
}

.allLists {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0.5em 0;
    margin: 0;
}

.allLists li {
    margin: 0 0.5em;
    color: rgba(0,0,0,0.4);
    cursor: pointer;
}

.allLists li:before {
    content: "/";
    margin-right: 0.7em;
    color: rgba(0,0,0,0.1);
}

.allLists li:first-child:before {
    content: "";
    margin-right: 0.7em;
}

.allLists li:hover {
    color: rgba(0,0,0,1);
}


/* MANAGE LISTS POPUP */
.addPopup {
    background-color: rgba(0,0,0,0.4);
    height:100%;
    position:fixed;
    text-align: center;
    left: 0;
    top: 0;
    width:100vw;
    z-index:10000;
    transform: translateY(-100em);
    transition: all 0.5s ease-in; 
}

.popShow {
    transform: translateY(0em);
    transition: all 0.5s ease-out;
}

.addPopup > div {
    margin-top: 8em;
    background: var(--bg);
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    max-width: 50em;
    width: 80%;
    padding: 0.5em 0.5em;
}

.box {
    height: 50vh;
    overflow-y: scroll;
}

.popHead {
    display: grid;
}

.popHead .close {
    padding: 0;
    margin: 0;
    justify-self: end;
    z-index:10002;
    cursor: pointer;
}

.popHead h3 {
    margin-top: -0.9em;
    font-size: 1.5em;
    border-bottom: 0.2px solid rgba(0,0,0,0.8);
}

.add-lists {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: flex-end;
}

.add-lists input {
    outline: none;
    border: none;
    background: none;
    border-bottom: 1px solid black;
}

.add-lists [type="text"] {
    font-size: 1.2em;
}

.add-lists [type="submit"] {
    font-size: 1.2em;
}

.listOfLists {
    padding: 0 3em;
    display: flex;
    flex-direction: column;
}

.listOfLists li {
    display: grid;
    align-items: center;
    text-align: left;
    grid-template-columns: 5fr auto;
    margin: 0.3em 0;
    background: rgba(0, 0, 0, 0.1);
}

.listOfLists li button {
    outline: none;
    border: none;
    margin: 0.5em;
    padding: 0.6em;
    border-radius: 5px;
    font-size: 0.58em;
    cursor: pointer;
    background: rgba(224, 44, 44, 0.5);
    color: var(--bg);
    text-transform: uppercase;
    transition: all 0.5s ease-out;
}

.listOfLists li button:hover {
    background: rgba(224, 44, 44, 1);
    color: #fff;
}

/* /////// LIST //////// */
/* LIST HEADER */
.myList {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    padding: 0.5em 1em;
    min-height: 80vh;
    width: 100vw;
    margin: 0 0 1.5em 0;
    overflow-x: hidden;
}

.listHeader {
    display: flex;
    align-items: center;
}

.listHeader i {
    font-size: 0.8em;
    cursor: pointer;
    z-index: 4;
}

.listHeader input {
    border: none;
    outline: none;
    background: none;
    margin: 0.5em 0 0.5em 0.2em;
    padding: 0.3em;
    align-self: baseline;
    font-weight: bolder;
    border-bottom: 1px dashed var(--light-blue);
    background: var(--bg);
    z-index: 4;
    font-size: 1.5em;
    width: 100%;
}

.listHeader input:disabled {
    color: rgba(0,0,0,1);
}

.listHeader input:enabled {
    color: rgba(0,0,0,0.6);
}

.headEdit {
    margin: 0;
    width: 0%;
    display: flex;
    align-items: center;
    z-index: 3;
    filter: opacity(0);
    transform: translateX(-8em);
    transition: all 0.4s ease-in-out;
}

.headEdit p {
    color: var(--light-grey);
    font-size: 0.5em;
    margin-right: 0.4em;
    margin-left: 0.5em;
    padding: 0.4em;
}

.rev {
    width: 100%;
    filter: opacity(1);
    transform: translateX(0em);
    transition: all 0.4s ease-in-out;
    border-left: 1px dashed var(--light-blue);
}

.listHeader button {
    outline: none;
    border: none;
    background: none;
    margin-left: 1.5em;
    padding: 0.4em;
    border-radius: 5px;
    font-size: 0.8em;
    cursor: pointer;
}

.listHeader button.saveHead {
    background: rgb(224, 44, 44);
    color: var(--bg);
    margin: 0.5em;
    
}

.listHeader button.cancelHead {
    color: var(--light-grey);
    margin: 0.5em;
}

/* ADD LIST ITEMS */
.add-items {
    display: flex;
}

.add-items input {
    border: none;
    outline: none;
    background: none;
    font-size: 1.3em;
    margin-bottom: 0.8em;
}

.add-items input[type="text"] { 
    border-bottom: 1px solid black;
    color: rgba(0,0,0,0.7);
    padding-top: 0.5em;
    padding-bottom: 0;
    align-self: center;
}

.add-items input[type="submit"] {
    border-bottom: 1px solid black;
    padding-top: 0.5em;
    padding-bottom: 0;
}

.add-items input[type="submit"]:hover {
    cursor: pointer;
}

/* ITEMS */
.list {
    margin-bottom: 2em;
    width: 70vw;
    display: flex;
    flex-direction: column;
}

.list ul {
    margin: 0 0 0.9em 0;
    padding: 0;
}

.focus {
    color: var(--light-blue);
}
.focus:hover {
    color: var(--black);
}

.options {
    display: flex;
    margin: 0;
    filter: opacity(0);
    transition: all 0.4s;
    transform: translateX(4em);
}

.showOptions {
    filter: opacity(1);
    transform: translateX(0em);
    transition: all 0.3s ease-in-out;
}

.arrow {
    font-size: 1.8em;
    transition: all 0.5s;
    transform: rotate(0deg);
    transform: translateX(3em);
    cursor: pointer;
    z-index: 2;
    margin: 0 0.3em;
}

.arrowMove {
    transform: rotate(180deg);
}

.itemSettings {
    display: flex;
    align-items: center;
    height: 100%;
    padding-right: 0;
    margin-right: 0;
}

.editSubmit {
    display: none;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0.5em;
    padding-right: 0;
    margin-right: 0;
}

.editSubmit button {
    outline: none;
    border: none;
    background: none;
    margin: 0.3em;
    padding: 0.6em;
    border-radius: 5px;
    font-size: 0.8em;
    cursor: pointer;
}

.editSubmit button.save {
    background: rgb(224, 44, 44);
    color: var(--bg);
}

.editSubmit button.save:hover {
    background: rgba(224, 44, 44, 0.712);
}

.editSubmit button.cancel {
    color: var(--light-grey);
}

.editSubmit button.cancel:hover {
    color: var(--dark-grey);
}

.settingsSwitch {
    display: none;
}

.editSwitch {
    display: flex;
}

.text {
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    border-right: 1px solid rgba(0,0,0,0.2);
    display: grid;
    grid-template-columns: 1fr;
    padding: 0;
    width: 100%;
}

.text input {
    outline: none;
    background: none;
    border: none;
    text-overflow: ellipsis;
    overflow: hidden;
}

.text input:disabled {
    color: var(--black);
}
.text input:enabled {
    color: rgba(0,0,0,0.6);
    outline: 0.1px dashed rgba(0,0,0,0.3);
}

.text .itemTitle {
    font-size: 1.3em;
    outline: none;
    margin: 0;
    padding-left: 0.2em;
    width: 100%;
}

.text h6 {
    font-size: 0.4em;
    margin: 0;
    padding-left: 0.6em;
}

.itemBookmark {
    background: var(--red-bookmark);
    transition: all 1s ease-in-out;
}

.upNdown {
    margin-right: 0.5em;
    align-self: center;
    display: flex;
    flex-direction: column;
}

.upNdown i {
    transition: all 0.2s ease;
    margin: 0.1em;
    filter: opacity(0.3);
    font-size: 1.3em;
}

.upNdown i.icon-long-arrow-up {
    cursor: n-resize;
}

.upNdown i.icon-long-arrow-down {
    cursor: s-resize;
}

.upNdown i:hover {
    filter: opacity(1);
}

.options button {
    outline: none;
    border: none;
    margin: 0.1em;
    font-size: 1.3em;
    width: 100%;
    color: var(--bg);
    box-shadow: 0.2px 0.2px 2px black;
    text-transform: uppercase;
}

.options button:active {
    filter: opacity(0.7);
}

.item {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    user-select: none;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    transition: all 1s ease-in-out;
    padding: 0.1em;
}

.item:first-child {
    border-top: 1px solid rgba(0,0,0,0.2);
}
  
.delete {
    background: rgb(253, 51, 51);
}

.star {
    background: rgb(121, 194, 53);
}

.edit {
    background: rgb(78, 128, 219);
}


/* FOOTER */
/* .wrapper footer {
    background-color: var(--dark-grey);
    height: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.wrapper footer ul {
    margin: 0;
    padding: 0;
    display: flex;
    font-size: 1.3em;
}

.wrapper footer i {
    color: var(--black);
    margin: 0.2em;
}

.wrapper footer i:hover {
    cursor: pointer;
    color: var(--light-blue);
}

.foot {
    text-transform: none;
    display: flex;
    align-items: center;
} */

.alertMsg {
    background: var(--dark-red);
    display: flex;
    justify-content: center;
    margin: -2.5em 0 1.5em 0;
    z-index: -1;
    padding: 0 1.2em 0.5em 1.2em;
    border-radius: 10px;
    transform: translateY(-4em);
    transition: all 0.5s ease;
}

.alertMsg h5 {
    margin-bottom: auto;
}

.alertPop {
    transform: translateY(1.1em);
    transition: all 0.5s ease-out;
}

/* /////////////////// INDEX FILE ///////////////// */
.indexBody {
    height: 100vh;
    width: 100vw;
}

.container {
    padding: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    background-image: url(https://images.unsplash.com/photo-1499750310107-5fef28a66643?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2700&q=80);
    background-size: cover;
    background-position: center; 
    background-attachment: fixed;
    background-color: rgba(255, 255, 255, 0.3);
    background-blend-mode: overlay;
    min-height: 95%;
    height: auto !important;
    height: 95%;
    width: 100%;
    overflow: hidden;
}

/* .container:after { 
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 300%;
    height: 300%;
    background: var(--bg);
    -webkit-filter: opacity(.4);
    filter: opacity(.4);
    z-index: 1;
    margin: 0;
} */

.container .content {
    z-index: 2;
}

.bigTitle {
    border-bottom: 0.5px dashed rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0.3px 0.8px 10px black;
    color: var(--light-black);
    font-family: var(--font-main);
}

.bigTitle i {
    font-size: 3.3em;
    padding-top: 0.3em;
    margin: 0.3em;
    color: var(--light-blue);
}

.bigTitle h1 {
    font-size: 5em;
    margin: 0;
}

.bigTitle span {
    color: var(--light-blue);
    font-size: 1em;
}

.container h5 {
    color: var(--black);
    font-size: 1.4em;
    padding-top: 1.2em;
    margin: 0;
    text-shadow: 0.3px 0.8px 10px black;
    color: rgb(255, 255, 255);
}

.container button {
    margin: 1.2em;
    text-transform: uppercase;
    border: none;
    border-radius: 10px;
    padding: 0.5em;
    outline: none;
    color: var(--light-blue);
    background: rgba(22, 30, 102, 0.747);
    font-size: 1.4em;
    transition: all 0.2s ease-in;
    transform: scale(0.9);
    cursor: pointer;
}

.container button:hover {
    background: rgba(22, 30, 102, 1);
    transform: scale(1);
    color: #fff;
}

.footer {
    display: flex;
    flex-direction: column;
    background: var(--light-grey);
    width: 100%;
    height: 5%;
    margin: 0;
    padding: 0;
}

.foot {
    display: flex;
    flex-direction: column;
    background: var(--light-grey);
    width: 100%;
    margin: 0;
    padding: 0;
}

footer .nameSocial {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .nameSocial i {
    margin: 0.2em;
    font-size: 0.9em;
    color: rgba(0,0,0,0.7);
}

footer .nameSocial i:hover {
    color: var(--light-blue);
}

footer .nameSocial h3 {
    margin: 0;
    margin-right: 0.5em;
    padding: 0;
    font-size: 0.8em;
    text-transform: uppercase;
}

footer .credits {
    display: flex;
    justify-content: center;
    padding: 0;
    text-transform: uppercase;
    font-size: 0.6em;
}

footer .credits h4 {
    margin: 0.5em;
}

footer .credits a {
    border-bottom: 0.5px dashed rgba(0,0,0,0.7);
}

/* 
  ##Device = Tablets, Ipads (portrait), Laptops, Desktops
  ##Screen = B/w 768px to 1280px
*/
@media (min-width: 768px) and (max-width: 1280px) {

    body { 
        min-width: 110vw;
        height: 100%;
    }

    /* /////////////////// INDEX FILE ///////////////// */

    .container {
        font-size: 0.8em;
    }

}


/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {

    body { 
        width: 100%;
        height: 100%;
    }

    .list {
        width: 90vw;
    }

    .text {
        font-size: 0.7em;   
    }

    .itemSettings {
        font-size: 0.8em;
    }

    .itemSettings button {
        width: 1.5em;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .listHeader { 
        font-size: 0.7em;
    }

    .listHeader input {
        font-size: 1.8em;
    }

    .headEdit {
        font-size: 0.5em;
        margin: 0;
    }

    .headEdit p {
        margin: 0;
    }

    .listOfLists {
        padding: 0 0.2em;
    }

    .allLists {
        display: none;
    }

    select {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        margin: 0;
        background: none;
        outline: none;
        font-size: 1em;
        color: rgba(0,0,0,0.4);
        width: 95%;
    }

    option {
        background: none;
    }
    
    /* /////////////////// INDEX FILE ///////////////// */
    .container {
        font-size: 0.8em;
    }
  
}


/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {

    body { 
        width: 100vw;
        height: 100%;
    }

    .list {
        width: 90vw;
    }

    .text {
        font-size: 0.7em;   
    }

    .itemSettings {
        font-size: 0.8em;
    }

    .itemSettings button {
        width: 1.5em;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .listHeader { 
        font-size: 0.7em;
    }

    .listHeader input {
        font-size: 1.8em;
    }

    .headEdit {
        font-size: 0.5em;
        margin: 0;
    }

    .headEdit p {
        margin: 0;
    }

    .listOfLists {
        padding: 0 0.2em;
    }

    .allLists {
        display: none;
    }

    select {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        margin: 0;
        background: none;
        outline: none;
        font-size: 1em;
        color: rgba(0,0,0,0.4);
        width: 95%;
    }

    option {
        background: none;
    }

    .add-items input {
        font-size: 1em;
    }

    .add-lists [type="text"] {
        font-size: 1em;
    }
    
    .add-lists [type="submit"] {
        font-size: 1em;
    }

    .popHead {
        font-size: 0.9em;
    }

    .listHeader input:disabled {
        color: rgba(0,0,0,1);
    }
    
    .listHeader input:enabled {
        color: rgba(0,0,0,0.6);
    }

    .text input:disabled {
        color: var(--black);
    }
    .text input:enabled {
        color: rgba(0,0,0,0.6);
        outline: 0.1px dashed rgba(0,0,0,0.3);
    }

    /* /////////////////// INDEX FILE ///////////////// */

    .container {
        font-size: 0.8em;
    }
  
}