/* ROOT COLORS */
:root {
    --bg: #F2F2F2;
    --black: #000D20;
    --dark-grey: #345959;
    --light-grey: #517C8C;
    --light-blue: #B4CBD9;
    --font-main: 'Srisakdi', cursive;
    --font-body: 'Titillium Web', sans-serif;
}

/* DEFAULT */
*, *:after, *:before {
    box-sizing: border-box;
}

body {
    background: var(--bg);
    margin: 0;
    padding: 0;
    font-family: var(--font-body);
    color: var(--black);
    height: 100vh;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

div:active {
    background: none;
}

/* WRAPPER */
.wrapper {
    display: flex;
    flex-direction: column;
}


/* NAVIGATION BAR */
nav {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin: 0;
    background-color: var(--light-grey);
    border-bottom: 0.5px solid black;
    box-shadow: 0.1px 0.1px 1px black;
}

nav h1 {
    margin: 0.5em 1em;
    font-size: 2.3rem;
    padding: 10px;
    font-family: var(--font-main);
    color: var(--light-blue);
}

.right, .left {
    display: flex;
    padding: 0;
    display: none;
}

nav ul li {
    margin: 0.5em;
    font-size: 1.1em;
    color: var(--black);
}

nav ul li:hover {
    color: var(--light-blue);
}


/* MY-LIST!! */
.myList {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5em 1em;
    min-height: 80vh;
    align-self: center;
    margin: 0.5em 2em 1.5em 2em;
}

.listHeader {
    display: flex;
    align-items: baseline;
}

.listHeader i {
    font-size: 1.3em;
}

h2 {
    margin: 0.5em 0 0.5em 0.2em;
    padding: 0;
    font-weight: 400;
    align-self: baseline;
    border-bottom: 1px solid var(--light-blue);
}

.add-items {
    display: flex;
}
.add-items input {
    border: none;
    outline: none;
    background: none;
    font-size: 1.3em;
    margin-bottom: 0.8em;
}

input[type="text"] { 
    border-bottom: 1px solid black;
    color: rgba(0,0,0,0.7);
}

input[type="submit"] {
    border-bottom: 1px solid black;
    text-transform: uppercase;

}

input[type="submit"]:hover {
    cursor: pointer;
}

.list {
    margin-bottom: 2em;
    width: 70vw;
    display: flex;
    flex-direction: column;
}

.list ul {
    margin: 0;
    padding: 0;
}

.focus {
    color: var(--light-blue);
}
.focus:hover {
    color: var(--light-blue);
}

.options {
    display: flex;
    margin: 0;
    filter: opacity(0);
    transition: all 0.4s;
    transform: translateX(4em);
    width: 100%;
}

.showOptions {
    filter: opacity(1);
    transform: translateX(0em);
    transition: all 0.3s ease-in-out;
}

.arrow {
    font-size: 1.8em;
    transition: all 0.5s;
    transform: rotate(0deg);
    transform: translateX(3em);
    cursor: pointer;
    z-index: 2;
    margin: 0 0.3em;
}

.arrowMove {
    transform: rotate(180deg);
}


.itemSettings {
    display: flex;
    align-items: center;
    height: 100%;
    padding-right: 0;
    margin-right: 0;
}

.editSubmit {
    display: none;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0.5em;
    padding-right: 0;
    margin-right: 0;
}

.editSubmit button {
    outline: none;
    border: none;
    background: none;
    margin: 0.3em;
    padding: 0.6em;
    border-radius: 5px;
    font-size: 0.8em;
    cursor: pointer;
}

.editSubmit button.save {
    background: rgb(224, 44, 44);
    color: var(--bg);
}

.editSubmit button.save:hover {
    background: rgba(224, 44, 44, 0.712);
}

.editSubmit button.cancel {
    color: var(--light-grey);
}

.editSubmit button.cancel:hover {
    color: var(--dark-grey);
}

.settingsSwitch {
    display: none;
}

.editSwitch {
    display: flex;
}

.text {
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    border-right: 1px solid rgba(0,0,0,0.2);
    display: grid;
    grid-template-columns: 1fr auto;
}

.text h3 {
    font-size: 1.3em;
    outline: none;
    margin: 0;
    padding: 0;
}

.text h6 {
    font-size: 0.4em;
    margin: 0;
    padding: 0;
}

.bookmark {
    padding: 0;
    font-size: 1.5em;
    margin-right: 0.5em;
    filter: opacity(0);
    color: red;
}

.showBookmark {
    filter: opacity(1);
}

.bookmarks {
    display: none;
    flex-direction: column;
    position: absolute;
    left: 10px;
    top: 23px;
    background: rgba(0,0,0,0.4);
}

.bookmarks:active {
    background: rgba(0,0,0,0.4);
}

.bookmarks button {
    outline: none;
    border: none;
    background: none;
}

.bookmarks button:active {
    background: rgba(0,0,0,0.4);
}

.showBookmarks {
    display: flex;
}

.red {
    color: red;
}

.orange {
    color: orange;
}

.yellow {
    color: yellow;
}

.upNdown {
    margin-right: 0.5em;
    align-self: center;
    display: flex;
    flex-direction: column;
}

.upNdown i {
    transition: all 0.2s ease;
    margin: 0.1em;
    filter: opacity(0.3);
    font-size: 1.3em;
}

.upNdown i.icon-long-arrow-up {
    cursor: n-resize;
}

.upNdown i.icon-long-arrow-down {
    cursor: s-resize;
}

.upNdown i:hover {
    filter: opacity(1);
}

.options button {
    outline: none;
    border: none;
    margin: 0.1em;
    font-size: 1.3em;
    width: 100%;
    color: var(--bg);
    box-shadow: 0.2px 0.2px 2px black;
    text-transform: uppercase;
}

.options button:active {
    filter: opacity(0.7);
}

.item {
    display: grid;
    grid-template-columns: auto 3fr auto auto;
    align-items: end;
    user-select: none;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.item:first-child {
    border-top: 1px solid rgba(0,0,0,0.2);
}

.checkbox {
    align-self: center;
    margin-right: 0.5em;
    z-index: 3;
}

input#check {
    position: absolute;
    opacity: 0;
  }
  input#check:checked + label svg path {
    stroke-dashoffset: 0;
  }
  input#check:focus + label {
    transform: scale(1.03);
  }
  
  #check + label {
    display: block;
    border: 1px solid #333;
    width: var(--d);
    height: var(--d);
    border-radius: 0px;
    cursor: pointer;
    transition: all .2s ease;
  }
  #check + label:active {
    transform: scale(1.05);
    border-radius: 30px;
  }
  #check + label svg {
    pointer-events: none;
  }
  #check + label svg path {
    fill: none;
    stroke: #333;
    stroke-width: 5px;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 100;
    stroke-dashoffset: 101;
    transition: all 350ms cubic-bezier(1, 0, 0.37, 0.91);
  }
  

.done {
    background: rgba(255, 0, 0, 0.3);
}

/* FOOTER */
footer {
    background-color: var(--dark-grey);
    height: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

footer ul {
    margin: 0;
    padding: 0;
    display: flex;
    font-size: 1.3em;
}

footer i {
    color: var(--black);
    margin: 0.2em;
}

footer i:hover {
    cursor: pointer;
    color: var(--light-blue);
}

.foot {
    text-transform: none;
    display: flex;
    align-items: center;
}


.delete {
    background: rgb(253, 51, 51);
}

.star {
    background: rgb(121, 194, 53);
}

.edit {
    background: rgb(78, 128, 219);
}